<div class="container mb-4">
  <div class="row mt-2">

    <div class="col-md-3 p-4" style="">
      <h4><%= @user.name %></h4>
      <a href="https://twitter.com/<%= @user.nickname %>" target="_blank"><h5>@<%= @user.nickname %></h5></a>
      <h5>Location: <%= @user.location %></h5>
      <small><strong><%= @user.description %></strong></small>
    </div>

    <div class="col-md-9" style="">

      <% if @user.tweets.count != 0 %>

        <h1 class="text-center">Your Scheduled Tweets</h1>

        <% @user.tweets.each do |tweet| %>
          <div style="border: 1px solid teal; background: #eee; opacity: .9;" class="p-4 mt-2">
            <h3><%= @user.name + " | " + @user.nickname %></h3>
            <h5><%= tweet.content %></h5>
          </div>
        <% end %>
      <% end %>

      <h1 class="text-center p-4">My Tweets</h1>

      <% cache("timeline", expires_in: 6.hours) do %>
        <% @twitter_api.timeline.each do |tweet| %>

          <div style="border: 1px solid teal; background: #eee; opacity: .9;" class="p-4 mt-2">
            <h3><%= @user.name + " | " + @user.nickname %></h3>
            <h5><%= parsed_tweet(tweet) %></h5>
          </div>
          
        <% end %>
      <% end %>

    </div>

  </div>
</div>
